* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a,
  a:visited {
    color: inherit;
    text-decoration: inherit;
  }

  .page {
    max-width: 596px;
    margin: 0 auto;
  }
  
  h1 {
    max-width: 75%;
    margin: 1rem auto;
    text-align: center;
  }
  
  .post-card-wrap {
    position: relative;
    width: 100%;
    padding: 0;
    background-color: #ffffff;
  }
  
  .title-bar {
    position: relative;
    padding: 1rem;
    text-align: start;
    background-color: #dfdfdf;
  }

  .bottom-bar {
    display: flex;
    justify-content: right;
    align-content: center;
    padding: 1rem;
    gap: 1rem;
  }
  